<header class="header-wrapper">
  <div class="header-top">
    <h1 class="logo">
      <a href="/admin">
        <img src="/img/admin/top_logo.jpg" alt="logo" />
      </a>
    </h1>
    <a href="/" class="btn btn-success"> 사이트 바로가기 </a>
    <a href="/admin/auth/logout" class="btn btn-secondary"> 로그아웃 </a>
  </div>
  <nav class="navi-wrap">
    <a href="/admin" class="navi">
      <img src="/img/admin/b0.jpg" alt="icon" />
    </a>
    <a href="/admin/user" class="navi">
      <img src="/img/admin/b1.jpg" alt="icon" />
    </a>
    <a href="/admin/prd" class="navi">
      <img src="/img/admin/b2.jpg" alt="icon" />
    </a>
    <a href="/admin/order" class="navi">
      <img src="/img/admin/b3.jpg" alt="icon" />
    </a>
    <a href="/admin/board/init" class="navi">
      <img src="/img/admin/b4.jpg" alt="icon" />
    </a>
    <a href="/admin" class="navi">
      <img src="/img/admin/b6.jpg" alt="icon" />
    </a>
    <a href="/admin" class="navi">
      <img src="/img/admin/b9.jpg" alt="icon" />
    </a>
  </nav>
</header>
<script></script>
