<header class="header-wrapper">
  <h1 class="logo">
    <a href="/admin">
      <i class="fa fa-gear"></i>
      쇼핑몰 관리자
    </a>
  </h1>
  <nav class="navi-wrap">
    <a href="/admin/cate" class="navi"> 카테고리관리 </a>
    <a href="/admin/prd" class="navi"> 상품관리 </a>
    <a href="/admin/order" class="navi"> 주문관리 </a>
    <a href="/admin/user" class="navi"> 회원관리 </a>
    <a href="/admin/board" class="navi"> 게시판관리 </a>
    <a href="/admin/auth/logout" class="navi"> 로그아웃 </a>
  </nav>
</header>
<script></script>
