<div class="sort-wrap">
  <form action="/<%= currents[0] %>/<%= currents[1] %>" method="GET" class="form-inline">
    <select name="sort" onchange="this.form.submit();">
      <option value="desc" 
      <%= (sort === '' || sort === 'desc' ? 'selected' : '') %>>
      내림차순</option>
      <option value="asc"
      <%= (sort === 'asc' ? 'selected' : '') %>>
      오름차순</option>
    </select>
  </form>
  </div>