<ul class="nav nav-tabs">
  <% for (let v of links[currentPaths[1]]) { %>
  <li class="nav-item">
    <a class="nav-link" href="<%=`${secondPath}/${v.currentPath}`%>"> <%=v.name%> </a>
  </li>
  <% } %>
</ul>
