@import '../common';
.prd-wrapper {
  &.list-wrapper {
    .btn-wrap {
      padding: 1em 0 0.5em 0;
      @include flex($h: space-between, $v: center);
    }
    table {
      text-align: center;
      td {
        &:nth-child(1) {
          width: 90px;
        }
        &:nth-child(2) {
          width: 100px;
        }
        &:nth-child(4) {
          width: 120px;
        }
        &:nth-child(5) {
          width: 160px;
        }
        &:nth-child(6) {
          width: 160px;
        }
        .price-sale {
          font-size: 1.125em;
          color: red;
        }
        .price-ori {
          color: #777;
        }
      }
      td.td-icon {
        padding: 0.25em;
        height: 80px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
